<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        SignUp
    </h1>
     <% if(locals.error) { %>
        <h3 style="color: red;"><%= error %> </h3>
    <% } %>
    <div>
        <form action="/user/signup" method="post">
            <label>Username</label>
            <input type="text" name="userName" required/>
             <label>Email</label>
            <input type="text" name="email" required/>
             <label>Password</label>
            <input type="text" name="password" required/>
            <button type="submit">Signup</button>
        </form>
    </div>
</body>
</html>