* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans" sans-serif;
  font-size: 16px;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header header header"
    "nav content sidebar"
    "nav footer footer";
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 80px 1fr 70px;
}

header,
main,
footer,
aside,
nav {
  background-color: steelblue;
  color: #fff;
  padding: 20px;
  border: 1px solid skyblue;
}

header {
  grid-area: header;
}
nav {
  grid-area: nav;
}
main {
  grid-area: content;
}

aside {
  grid-area: sidebar;
}
footer {
  grid-area: footer;
}
